
.nav_logo{
    object-fit: contain;
    background:url("../media/arbg.png") no-repeat;
    background-size: contain;
    width:200px;
    height: 30px;
    margin-right: 20px;
}
.login__btn{
    color:#ebe6e6;
    border:none;
    border-radius: 10px;
    background: rgba(42, 113, 180);
    height: 40px;
    width: 80px;
    margin-right: 10px;
}
.login__avatar{
    border-radius: 50%;
    width: 50px;
    padding: 7px;
}
.navbar{
    z-index: 100;
    background:none;
    position: fixed;
    width: 100%;
    transition: all 0.5s;
}
#navbarSupportedContent{
    transition: all 0.25s;
    cursor: pointer;
}
.login-data{
    display: flex;
    align-items: center;
}
.trans .navbar-toggler{
visibility: hidden;
}
.navbar-dark{
    backdrop-filter: blur(15px);
}
.navbar-toggler{
    border: none;
    transition: all 0.5s;
}
.navbar-toggler:focus{
    border: none;
    transition: all 0.5s;
    box-shadow: none;
    z-index:200;
}

.form-control[type=search]{
    color:white !important;
    background: none;
    width:50%;
    border-radius: 10px;
}

.btn-outline-success{
    color:white !important;
    background: rgba(42, 113, 180,0.4);
    border: none;    
}
.btn-outline-success:hover{
    transition: all 0.5s ease-out;
}


@media (max-width:991.2px) {
    .login-data{
        display: block;
    }
}
